<nav role="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Epic Api</a>
    </div>
    <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/guides/overview" class="nav-overview"><span class="glyphicon glyphicon-list-alt"></span> Overview</a></li>
        <li><a href="/guides/api/" class="nav-api"><span class="glyphicon glyphicon-wrench"></span> API</a></li>
        <li><a href="/guides/glossary/" class="nav-blog"><span class="glyphicon glyphicon-sort-by-alphabet"></span> Glossary</a></li>
      </ul>
    </nav>
  </div>
</nav>
<!--<div id="header-wrapper">
-->
<!--  <div id="header">
    <div>
      <a class="logo" href="/">GRNET PID Service</a>
      <ul class="nav">
        <li><a href="/guides/overview" class="nav-overview">Overview</a></li>
        <li><a href="/guides/api/" class="nav-api">API</a></li>
        <li><a href="/guides/glossary/" class="nav-blog">Glossary</a></li>
      </ul>
    </div>
    </div>
    </div>
-->
